<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.balance.modules.system_management.mapper.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.balance.modules.system_management.entity.Notice">
        <id column="NOTICE_ID" property="noticeId" />
        <result column="STAFF_ID" property="staffId" />
        <result column="NOTICE_TYPE" property="noticeType" />
        <result column="NOTICE_TITLE" property="noticeTitle" />
        <result column="NOTICE_STATE" property="noticeState" />
        <result column="NOTICE_PEOPLE" property="noticePeople" />
        <result column="NOTICE_POST" property="noticePost" />
        <result column="NOTICE_MATTER" property="noticeMatter" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_TIME" property="updatedTime" />
        <result column="REVISION" property="revision" />
        <result column="IS_DELETED" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NOTICE_ID, STAFF_ID, NOTICE_TYPE, NOTICE_TITLE, NOTICE_STATE, NOTICE_PEOPLE, NOTICE_POST, NOTICE_MATTER, CREATED_TIME, UPDATED_TIME, REVISION, IS_DELETED
    </sql>

</mapper>
