<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.balance.modules.social_management.mapper.InsuredDeptPostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.balance.modules.social_management.entity.InsuredDeptPost">
        <id column="INSURED_DEPT_POST_ID" property="insuredDeptPostId" />
        <result column="DEPT_POST_ID" property="deptPostId" />
        <result column="DEF_INSURED_ID" property="defInsuredId" />
        <result column="REVISION" property="revision" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_TIME" property="updatedTime" />
        <result column="IS_DELETED" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INSURED_DEPT_POST_ID, DEPT_POST_ID, DEF_INSURED_ID, REVISION, CREATED_TIME, UPDATED_TIME, IS_DELETED
    </sql>

</mapper>
