<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.balance.modules.employee_management.mapper.PositionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.balance.modules.employee_management.entity.Position">
        <id column="POSITION_ID" property="positionId" />
        <result column="POSITION_NAME" property="positionName" />
        <result column="POSITION_DESCRIPTION" property="positionDescription" />
        <result column="REVISION" property="revision" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_TIME" property="updatedTime" />
        <result column="IS_DELETED" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        POSITION_ID, POSITION_NAME, POSITION_DESCRIPTION, REVISION, CREATED_TIME, UPDATED_TIME, IS_DELETED
    </sql>

</mapper>
