<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.balance.modules.employee_management.mapper.Quit_StaffMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.balance.modules.employee_management.entity.Quit">
        <id column="QUIT_ID" property="quitId" />
        <result column="AUDITFLOW_ID" property="auditflowId" />
        <result column="STAFF_ID" property="staffId" />
        <result column="STAFF_NAME" property="staffName" />
        <result column="DEPT_ID" property="deptId" />
        <result column="QUIT_TYPE" property="quitType" />
        <result column="QUIT_EXPLAIN" property="quitExplain" />
        <result column="QUIT_STATE" property="quitState" />
        <result column="APPLY_QUIT_DATE" property="applyQuitDate" />
        <result column="FORMAL_QUIT_DATE" property="formalQuitDate" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_TIME" property="updatedTime" />
        <result column="REVISION" property="revision" />
        <result column="IS_DELETED" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        QUIT_ID, AUDITFLOW_ID, STAFF_ID, STAFF_NAME, DEPT_ID, QUIT_TYPE, QUIT_EXPLAIN, QUIT_STATE, APPLY_QUIT_DATE, FORMAL_QUIT_DATE, CREATED_TIME, UPDATED_TIME, REVISION, IS_DELETED
    </sql>

</mapper>
