<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.balance.modules.employee_management.mapper.ResumeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.balance.modules.employee_management.entity.Resume">
        <id column="RESUME_ID" property="resumeId" />
        <result column="RESUME_NAME" property="resumeName" />
        <result column="RESUME_SEX" property="resumeSex" />
        <result column="RESUME_PHONE" property="resumePhone" />
        <result column="RESUME_EDUCATION" property="resumeEducation" />
        <result column="RESUME_SCOLLER" property="resumeScoller" />
        <result column="RESUME_HY" property="resumeHy" />
        <result column="RESUME_AGE" property="resumeAge" />
        <result column="RESUME_QXINGZ" property="resumeQxingz" />
        <result column="RESUME_QZHIW" property="resumeQzhiw" />
        <result column="RESUME_SHENGG" property="resumeShengg" />
        <result column="RESUME_ZJZW" property="resumeZjzw" />
        <result column="RESUME_MAILBOX" property="resumeMailbox" />
        <result column="RESUME_PHOTO" property="resumePhoto" />
        <result column="RESUME_INTRODUCE" property="resumeIntroduce" />
        <result column="RESUME_BIRTHDAY" property="resumeBirthday" />
        <result column="RESUME_RESIDENCE" property="resumeResidence" />
        <result column="RECRUITMENT_PLAN_ID" property="recruitmentPlanId" />
        <result column="RESUME_POLITICAL_OUTLOOK" property="resumePoliticalOutlook" />
        <result column="RESUME_ZT" property="resumeZt" />
        <result column="TOUJ_TIME" property="toujTime" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_TIME" property="updatedTime" />
        <result column="REVISION" property="revision" />
        <result column="IS_DELETED" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RESUME_ID, RESUME_NAME, RESUME_SEX, RESUME_PHONE, RESUME_EDUCATION, RESUME_SCOLLER, RESUME_HY, RESUME_AGE, RESUME_QXINGZ, RESUME_QZHIW, RESUME_SHENGG, RESUME_ZJZW, RESUME_MAILBOX, RESUME_PHOTO, RESUME_INTRODUCE, RESUME_BIRTHDAY, RESUME_RESIDENCE, RECRUITMENT_PLAN_ID, RESUME_POLITICAL_OUTLOOK, RESUME_ZT, TOUJ_TIME, CREATED_TIME, UPDATED_TIME, REVISION, IS_DELETED
    </sql>

</mapper>
