<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.balance.modules.employee_management.mapper.WorkExperiencessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.balance.modules.employee_management.entity.WorkExperiencess">
        <id column="WORK_EXPERIENCESS_ID" property="workExperiencessId" />
        <result column="WORK_STARE_TIME" property="workStareTime" />
        <result column="WORK_END_TIME" property="workEndTime" />
        <result column="RESUME_ID" property="resumeId" />
        <result column="COMPANY_NAME" property="companyName" />
        <result column="POSITION_NAME" property="positionName" />
        <result column="POSITION_INDUSTRY" property="positionIndustry" />
        <result column="POSITION_DESCRIBE" property="positionDescribe" />
        <result column="POSITION_SQMONTHLY" property="positionSqmonthly" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_TIME" property="updatedTime" />
        <result column="REVISION" property="revision" />
        <result column="IS_DELETED" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        WORK_EXPERIENCESS_ID, WORK_STARE_TIME, WORK_END_TIME, RESUME_ID, COMPANY_NAME, POSITION_NAME, POSITION_INDUSTRY, POSITION_DESCRIBE, POSITION_SQMONTHLY, CREATED_TIME, UPDATED_TIME, REVISION, IS_DELETED
    </sql>

</mapper>
