<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.balance.modules.recruitment_management.mapper.RecruitmentPlanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.balance.modules.recruitment_management.entity.RecruitmentPlan">
        <id column="RECRUITMENT_PLAN_ID" property="recruitmentPlanId" />
        <result column="RECRUITMENT_PLAN_NAME" property="recruitmentPlanName" />
        <result column="DEPT_ID" property="deptId" />
        <result column="DEPT_POST_ID" property="deptPostId" />
        <result column="EDUCATION_NAME" property="educationName" />
        <result column="RECRUITMENT_PLAN_NUMBER" property="recruitmentPlanNumber" />
        <result column="RECRUITMENT_PLAN_START_TIME" property="recruitmentPlanStartTime" />
        <result column="RECRUITMENT_PLAN_END_TIME" property="recruitmentPlanEndTime" />
        <result column="RECRUITMENT_PLAN_SALARY" property="recruitmentPlanSalary" />
        <result column="RECRUITMENT_ZT" property="recruitmentZt" />
        <result column="STAFF_ID" property="staffId" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_TIME" property="updatedTime" />
        <result column="REVISION" property="revision" />
        <result column="IS_DELETED" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RECRUITMENT_PLAN_ID, RECRUITMENT_PLAN_NAME, DEPT_ID, DEPT_POST_ID, EDUCATION_NAME, RECRUITMENT_PLAN_NUMBER, RECRUITMENT_PLAN_START_TIME, RECRUITMENT_PLAN_END_TIME, RECRUITMENT_PLAN_SALARY, RECRUITMENT_ZT, STAFF_ID, CREATED_TIME, UPDATED_TIME, REVISION, IS_DELETED
    </sql>

</mapper>
