<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.balance.modules.examine_management.mapper.AuditflowdetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.balance.modules.examine_management.entity.Auditflowdetail">
        <id column="AUDITFLOWDETAIL_ID" property="auditflowdetailId" />
        <result column="AUDITFLOW_ID" property="auditflowId" />
        <result column="STAFF_ID" property="staffId" />
        <result column="STAFF_NAME" property="staffName" />
        <result column="AUDITFLOWDETAI_REMARKS" property="auditflowdetaiRemarks" />
        <result column="AUDITFLOWDETAI_DATE" property="auditflowdetaiDate" />
        <result column="AUDITFLOWDETAI_STATE" property="auditflowdetaiState" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_TIME" property="updatedTime" />
        <result column="REVISION" property="revision" />
        <result column="IS_DELETED" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        AUDITFLOWDETAIL_ID, AUDITFLOW_ID, STAFF_ID, STAFF_NAME, AUDITFLOWDETAI_REMARKS, AUDITFLOWDETAI_DATE, AUDITFLOWDETAI_STATE, CREATED_TIME, UPDATED_TIME, REVISION, IS_DELETED
    </sql>

</mapper>
