<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.balance.modules.examine_management.mapper.WorkerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.balance.modules.examine_management.entity.Worker">
        <id column="WORKER_ID" property="workerId" />
        <result column="AUDITFLOW_ID" property="auditflowId" />
        <result column="STAFF_ID" property="staffId" />
        <result column="STAFF_NAME" property="staffName" />
        <result column="DEPT_ID" property="deptId" />
        <result column="WORKER_TYPE" property="workerType" />
        <result column="WORKER_REMARKS" property="workerRemarks" />
        <result column="WORKER_STATE" property="workerState" />
        <result column="WORKER_DATE" property="workerDate" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_TIME" property="updatedTime" />
        <result column="REVISION" property="revision" />
        <result column="IS_DELETED" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        WORKER_ID, AUDITFLOW_ID, STAFF_ID, STAFF_NAME, DEPT_ID, WORKER_TYPE, WORKER_REMARKS, WORKER_STATE, WORKER_DATE, CREATED_TIME, UPDATED_TIME, REVISION, IS_DELETED
    </sql>

</mapper>
