<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.balance.modules.salary_management.mapper.CompensationStaffMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.balance.modules.salary_management.entity.CompensationStaff">
        <id column="COMPENSATION_STAFF_ID" property="compensationStaffId" />
        <result column="COMPENSATION_ID" property="compensationId" />
        <result column="STAFF_ID" property="staffId" />
        <result column="REVISION" property="revision" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_TIME" property="updatedTime" />
        <result column="IS_DELETED" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        COMPENSATION_STAFF_ID, COMPENSATION_ID, STAFF_ID, REVISION, CREATED_TIME, UPDATED_TIME, IS_DELETED
    </sql>

</mapper>
